.home {
    @extend %center;
    @extend %page;

   /*  background: $color-contessa;
    color: $color-quarter-spanish-white; */
    text-align: center;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        height: 24rem;
        width: 100%;
        left: 0;
        position: absolute;
     
        z-index: 1;
    }
    &:before {
        background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
        top: 0;
    }
    &:after {
        background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
        bottom: 0;
    }
}
.home_wrapper  {}
.home_titles {
    @extend %vertical-titles;
}
.home_titles_label {
    @extend %vertical-titles_label;
}
.home_titles_title {
    @extend %vertical-titles_title;
    
}
.home_gallery {
    @extend %cover;

    height: 172.5rem;
    width: 241.8rem + 9rem;

    visibility: hidden;
    }

.home_gallery_media  {
    position: absolute;

    &:nth-child(1) {
        width: 27.8rem;
        height: 41.8rem;
        left: 9.4rem;
        top: 16.4rem;
    }

    &:nth-child(2) {
        height: 41.8rem;
        left: 54.1rem;
        top: 19.2rem;
        width: 27.8rem;    
    }

    &:nth-child(3) {
        height: 41.8rem;
        left: 106.3rem;
        top: 10.7rem;
        width: 27.8rem; 
        
    }
    &:nth-child(4) {
        height: 60.8rem;
        left: 154.1rem;
        top: 0;
        width: 40.6rem; 
        
    }
    &:nth-child(5) {
        height: 41.8rem;
        left: 207rem;
        top: 10.7rem;
        width: 27.8rem; 
        
    }
    &:nth-child(6) {
        height: 52.3rem;
        left: 0;
        top: 69.1rem;
        width: 37.5rem; 
    }
    &:nth-child(7) {
        height: 68.8rem;
        left: 46.7rem;
        top: 66.2rem;
        width: 39.7rem; 
        
    }
    &:nth-child(8) {
        height: 58.2rem;
        left: 101.5rem;
        top: 64.7rem;
        width: 39.7rem; 
        
    }
    &:nth-child(9) {
        height: 41.8rem;
        left: 160rem;
        top: 63.8rem;
        width: 27.8rem; 
    }
    &:nth-child(10) {
        height: 58.2rem;
        left: 202.1rem;
        top: 64.7rem;
        width: 39.7rem; 
        
    }
    &:nth-child(11) {
        height: 41.8rem;
        left: 13.1rem;
        top: 128.9rem;
        width: 27.8rem; 
        
    }

    &:nth-child(12) {
        height: 41.8rem;
        left: 54.1rem;
        top: 130.4rem;
        width: 27.8rem; 
    }

    &:nth-child(13) {
        height: 41.8rem;
        left: 105.7rem;
        top: 128.6rem;
        width: 27.8rem; 
    }

    &:nth-child(14) {
        height: 41.8rem;
        left: 164.7rem;
        top: 110.9rem;
        width: 27.8rem; 
        
    }
    &:nth-child(15) {
        height: 41.8rem;
        left: 206.3rem;
        top: 128.6rem;
        width: 27.8rem; 
        
    }
   
}
.home_gallery_media_image {
    @extend %cover;
    opacity: 1;
}
.home_link {
    @extend %description-14;

    align-items: center;
    display: flex;
    letter-spacing: 0.1rem;
    height: 6rem;
    justify-content: center;
    width: 28.8rem;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    z-index: 2;

    @include media('<=phone') {
        bottom: 7.5rem;
        height: 13.7rem;
        width: 55rem;
    }
}

.home_link_icon {
    @extend %cover;
}